<component name="libraryTable">
  <library name="spring_lib">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/SpringDemo1/spring_lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/SpringDemo1/spring_lib" recursive="false" />
  </library>
</component>